.container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.menu{
    margin-right: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

.student-name{
    font-size: 2.5rem;
    margin-top: 5rem;
    font-family: 'Courier New', Courier, monospace;

}
button{
    cursor: pointer;
}

.qr-scan{
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.attendance-view{
    width: 13rem;
    height: 10rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    
}


/* Menu Button */
.menu-btn {
    font-size: 28px;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Sidebar Panel */
.sidebar {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 260px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.2);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 2000;
}

/* When active (menu opened) */
.sidebar.active {
    left: 0;
}

/* Close Button */
.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
}

/* Links */
.sidebar-links {
    list-style: none;
    margin-top: 40px;
    padding: 0;
}

.sidebar-links li {
    margin: 20px 0;
}

.sidebar-links a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

/* Dark overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 1500;
}

.overlay.active {
    display: block;
}
