
.menu{
    margin-right: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-top: .5rem;
}
button{
    cursor: pointer;
    border: none;
    height: 2rem;
    margin-top: 4rem;
    border-radius: 10px;
}

.teacher-header{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-container{
    display: flex;
    gap: 2rem;
}
.view-attendance{
    width: 10rem;
    height: 6rem;
    font-size: 1.2rem;
}
.view-all-classes{
    width: 10rem;
    height: 6rem;
    font-size: 1.2rem;

}

.qr-generate{
    width: 15rem;
    height: 15rem;
    font-size: 2rem;
}

.bottom-container{
    display: flex;
    gap: 2rem;
}

.today-class{
    width: 10rem;
    height: 6rem;
    font-size: 1.2rem;

}

.quick-stats{
    width: 10rem;
    height: 6rem;
    font-size: 1.2rem;

}

.create-class{
    width: 13rem;
    height: 5rem;
    font-size: 1.3rem;
}


/* Menu Button */
.menu-btn {
    font-size: 28px;
    padding: 10px 15px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Sidebar Panel */
.sidebar {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 260px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.2);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 2000;
}

/* When active (menu opened) */
.sidebar.active {
    left: 0;
}

/* Close Button */
.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    float: right;
    cursor: pointer;
}

/* Links */
.sidebar-links {
    list-style: none;
    margin-top: 40px;
    padding: 0;
}

.sidebar-links li {
    margin: 20px 0;
}

.sidebar-links a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

/* Dark overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    z-index: 1500;
}

.overlay.active {
    display: block;
}