
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-top: 3rem;
}

.qr-reader{
    width:350px;
    height: 250px;
    
}

.return{
    background: none;
    /* border: none; */
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 2rem;
    margin-top: 5rem;
    list-style: none;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}