body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(208, 208, 208);
  }

  
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.settings-header{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}

/* profile section */
.profile-info{
    display: none;
}
.profile-info.active{
    display: block;
}
.profile{
    font-size: 3rem;
    background: none;
    border: none;
    margin-right: auto;

}
.profile:hover:active{
    background-color: rgb(188, 188, 188);
    border-radius: 5px;
}

/* security section */
.security-info{
    display: none;
}
.security-info.active{
    display: block;
}
.security{
    font-size: 3rem;
    background: none;
    border: none;
    margin-right: auto;
}
.security:hover:active{
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}

/* notification section */
.notification-info{
    display: none;
}
.notification-info.active{
    display: block;
}
.notification{
    font-size: 3rem;
    background: none;
    border: none;
    margin-right: auto;
    overflow: auto;
    text-align: left;
}
.notification:hover:active{
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}




/* logout button */
.logout {
    background: none;
    /* border: none; */
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 2rem;
    margin-top: 4rem;
    list-style: none;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.return{
    background: none;
    /* border: none; */
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 2rem;
    margin-top: 5rem;
    list-style: none;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}