.attendance-header{
    font-size: 3rem;
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    

}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.return{
    background: none;
    /* border: none; */
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 2rem;
    margin-top: 5rem;
    list-style: none;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}