.container {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-class {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.class-item {
    width: 25rem;
    height: 3rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    cursor: pointer;
}

.return {
    background: none;
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-size: 2rem;
    margin-top: 5rem;
    list-style: none;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}