<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_teacher.css') }}">
</head>
<body>
    <button class="menu">Menu</button> 
    <div class="container">
        <h2 class="teacher-header">Teacher Dashboard</h2>
        <div class="view-container">
            <button class="view-attendance">View Attendance Table</button>
            <button class="view-all-classes">View All Classes</button>
        </div>
        <button class="qr-generate">Generate/View QR Code</button>
        <div class="bottom-container">
            <button class="today-class">Today Session's</button>
            <button class="quick-stats">Quick Stats</button>
        </div>
        <button class="create-class">Create New Class</button>

        <form action="{{ url_for('auth.logout') }}" method="get" style="margin-top:20px;">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
    
</body>
</html>