<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generate qr <code></code></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_qr.css') }}">
</head>
<body>
    
    <div class="container">
        <div>
            
        </div>

        <a href="{{ url_for('attendance.teacher_dashboard')  }}" class="return">Return to dashboard</a>
    </div>


</body>
</html>