<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="container">
        <img src="" alt="" class="login-logo">
        <h2 class="login-header">Sign Up</h2>

        <form method="POST" action="{{ url_for('auth.signup') }}" class="login-form">
            {{ form.hidden_tag() }}  

            {{ form.email(class_="login-email", placeholder="Email:") }}
            {{ form.password(class_="login-password", placeholder="Password:") }}
            {{ form.confirm_password(class_="login-password", placeholder="Verify Password:") }}
            {{ form.role(class_="login-role") }}

            {{ form.submit(class_="sign-up-button") }}
        </form>

        <a href="{{ url_for('auth.login') }}" class="log-in">Log-in</a> 
    </div>
</body>
</html>