<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <div class="container">
        <img src="" alt="" class="login-logo">
        <h2 class="login-header">Sign Up</h2>
        <form action="" class="login-form">
            <input type="text" name="first_name" id="first_name" placeholder="First Name:" class="login-name">
            <input type="text" name="last_name" id="last_name" placeholder="Last Name:" class="login-name">
            <input type="email" name="email" id="email" placeholder="Email:" class="login-email">
            <input type="password" name="password" id="password" placeholder="Password:" class="login-password">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Verify Password:" class="login-password">
            <button type="submit" class="sign-up-button">Sign Up</button>
        </form>
        <button type="button" class="log-in">Log In</button>
    </div>
</body>
</html>