<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="container">
        <img src="" alt="" class="login-logo">
        <h2 class="login-header">Sign Up</h2>

        <form method="POST" action="{{ url_for('auth.signup') }}" class="login-form">
            <input type="text" name="first_name" id="first_name" placeholder="First Name:" class="login-name" required>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name:" class="login-name" required>
            <input type="email" name="email" id="email" placeholder="Email:" class="login-email" required>
            <input type="password" name="password" id="password" placeholder="Password:" class="login-password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Verify Password:" class="login-password" required>

            <select name="role" id="role" class="login-role" required>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>

            <button type="submit" class="sign-up-button">Sign Up</button>
        </form>

        <a href="{{ url_for('auth.login') }}" class="log-in">Log-in</a> 
    </div>
</body>
</html>