<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_attendance_history.css') }}">
</head>
<body >
    <div lass="container">
        <div class="attendance-header">Attendance History</div>
        <a href="{{ url_for('attendance.student_dashboard')  }}" class="return">Return to dashboard</a>
    </div>

</body>
</html>